
<div> 
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-2 ie-nav"  [containerInside]="false">
                <mdb-navbar-brand>
                  <a class="logo navbar-brand font-weight-bold" href="main-page"> Sweeter Things N' life
                  </a> 
                </mdb-navbar-brand>
                  <links>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active" >
                          <a class="nav-link" href="#">Home 
                            <span class="sr-only">(current)</span> 
                          </a>
                        </li>
                        <hr class="w-100 clearfix d-md-none">
                          <!-- Dropdown -->
                         <li class="nav-item dropdown" dropdown>
                          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            In Store Hours 
                            <span class="caret"></span></a>
                          <div *dropdownMenu class="dropdown-menu dropdown dropdown-default" role="menu">
                              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Monday - Thursday: 9:00AM - 9:30PM</a>
                              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Friday - Saturday: 8:30AM - 10:30PM</a>
                              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sunday: 8:30AM - 7:00PM</a> 
                              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Delivery Times</a> 
                           </div>
                         </li>
                        <hr class="w-100 clearfix d-md-none"> 
                        <li class="nav-item waves-light" mdbWavesEffect> 
                          <a class="nav-link" mdbPageScroll href="#about"> About </a>
                        </li>
                          <hr class="w-100 clearfix d-md-none">    
                        <li class="nav-item waves-light" mdbWavesEffect>
                          <a class="nav-link" routerLink="/order">Order</a>
                        </li>
                          <hr class="w-100 clearfix d-md-none"> 
                         <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link">Custom Design</a>
                          </li> 
                          <hr class="w-100 clearfix d-md-none"> 
                        <li class="nav-item waves-light" mdbWavesEffect> 
                          <a class="nav-link" routerLink="/blog">Blog</a>  
                        </li> 
                    </ul>
                    <button type="button" mdbBtn class="relative waves-light" (click)="basicModal.show()">Cart</button> 
                    <div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"> 
                      <div class="modal-dialog modal-side modal-top-right" role="document"> 
                        <div class="modal-content"> 
                          <div class="modal-healder">  
                              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()"> 
                                <span aria-hidden="true">×</span>
                              </button> 
                              <h4 class="modal-title"> Your Cart</h4>
                            </div>
                                <!--./modal-header-->
                                <div class="modal-body"> 
                                   ...
                                </div> 
                                <!--./modal-body--> 
                                <div class="modal-footer"> 
                                       <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Not Ready Yet</button>
                                       <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Check Out</button>
                                </div> 
                                <!--./modal-footer-->
               
                           </div>
                           <!--./modal-content-->
                       </div>
                      </div>
                  </links>
              </mdb-navbar> 
              
              <!--Navbar-->  
              
      
            </div> 
<!--Content-->  
<div class="container-fluid justify-content-center"> 
  <div class="row"> 
<div class="header col-md-4 text-center">
  <h4 class="text-uppercase font-weight-bold">Order Cupcakes & More</h4>
</div> 
<div class="row justify-content-center">
    <div class=" col-4 "> 
       <button type="button" mdbBtn rounded = true style="background-color:#FFAABB;"> <mdb-icon fas icon="mobile-alt" size="2x" class="mx-2"></mdb-icon>Pickup</button>
  
    </div> 
    <div class="col-4"> 
       <button type="button"  mdbBtn rounded = "true" style="background-color:#FFAABB;" > <mdb-icon fas icon="taxi" size="2x" class="mx-2"></mdb-icon>Delivery</button>
    </div> 
   
  </div>
    <div class="col-md container-fluid text-center"> 
      <hr/>
   <h4>Pick up times</h4>  
   <ul> 
     <li>Monday - Thursday:8:30AM - 9:30PM</li> 
     <li>Friday - Saturday:8:00AM - 10:00PM</li> 
     <li>Sunday:9:00AM - 9:30PM</li>
     <li><a href="#"> Pickup Rules & Information</a></li>
   </ul>
   <hr/>
   <h4> Delivery times</h4>
<ul> 
  <li>Monday - Saturday:12:00PM - 12:00AM</li>  
  <li>Sunday:10:00AM - 11:00PM</li> 
  <li><a (click)="deliveryModal.show()">Delivery Rules & Information</a></li>  
  
</ul>
<div mdbModal #deliveryModal="mdbModal" class="modal fade" tabindex="-1" role="contentinfo" aria-labelledby="DeliveryModalLabel" aria-hidden="true"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h5 class="modal-title">Delivery Information</h5> 
        <button type="button" class="close pull-right" aria-label="Close" (click)="deliveryModal.hide()"> 
            <span aria-hidden="true">&times;</span>
        </button>
      </div> 
    <div class="modal-body"> 
      <p> 
        Extra fees based on distance
      </p>

    </div>

    </div>
  </div>
    </div>
  </div>

</div> 
    