*{padding:0px;
  margin:0px; 
  box-sizing: border-box; 
  } 
/*portrait*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) {  
hr{margin:5px; 
}
.logo{
  font-family: 'Oxygen';
 } 

 ul li{ 
   font-family: 'Oxygen';}
.container-fluid{
  background-color:#FCE3F1;
}
  .row{ 
  border:solid 2px black; 
} 

.header{ 
  background-color:mintcream;
  padding:5px;
  margin-top:5px;
  border: solid 2px blue; 
}
  .order-col{
  flex-direction: column;  
  border:solid 2px purple;
}
.order-content{
  width:100vw;
  border-style:solid 2px black; 
  background-color:pink; 
}
.col-md-4{
  border-style: solid 2px black; 
}
footer{
  background-color:#789CCE; 
  font-family:'Oxygen', sans-serif; 
  }
  footer .container-fluid{width:100vw;}
 
}