*{padding:0px;
margin:0px; 
box-sizing: border-box; 
} 

//for desktop//
/*@media (min-width: 1281px){
.logo{ 
    display:none; 
  }
.heading {
    margin: 0 5rem;
    font-weight: 700;
    color: #5d4267;
  }
 #header-title{
    display:none;
  }
.subheading {
  margin: 2.5rem 6rem;
  color: #bcb2c0;
}
  #view { 
  background-color: blue;
  background-image: url(/assets/img/background1.jpeg);
  background-repeat: no-repeat; 
  background-position: top center;
  background-size:65% 65%;
  height: 100vh;
} 
.row{ 
  padding: 10px;
  border: 1px solid hotpink;  
  width:auto;
}
.col-md-6{
  border: 1px solid red; 
  padding:5px;
}
  .main-container{ 
 position: relative;
padding:20px; 
} //.main-container
  .content{ 
  background:#f8bbd0; 
}   
#products{ 
  padding:10px;  
  } 
  .products-row{ 
  display:flex; 
  flex-direction: row;
  align-content: center; 
  justify-content: space-evenly; 
} 
.img-container{
  padding:10px;
  position: relative;
  text-align: center; 
  color:black; 
  font-weight: 500;
  font-size:32px;
} 
figure img{  
  filter:blur(2px);  
}
figure:hover img{ 
  filter:blur(0); 
}
.centered{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);  
} 
 #about{
padding-top:15px;
margin-top:25px;
background-color:#FF91B4;  
}  
  .about{ 
  height:100vh; 
  background-color:#FF91B4;
  display: flex; 
  flex-direction: row;
  justify-content: flex-start; 
}
mdb-card{ 
  margin:10px; 
} 
footer 
{ 
background: #BED3A2; 
  }  
  .navbar  
  {
 background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
  } 
.navbar.top-nav-collapse{background-color: blue !important; 
  }
.navbar:not(.top-nav-collapse) {
    background: pink;
}
.navbar .navbar-brand img {
  height: 40px;
  margin: 10px;
}
.hm-gradient {
  background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
}


#button-div{ 
  margin-top: 12rem;
  border:1px solid black; 
  width:100%; 
} 



  .btn.btn-margin { 
    padding:20px;
    margin-left: 33rem;
    
   
  } 

   .btn.btn-lily {
    background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
  }
  .title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
  }
  .subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
  }

  .dropdown-menu {
    left: unset !important;
    right: 0 ;
  }

}
 //laptops and desktops//
  @media (min-width: 1025px) and (max-width: 1280px) {
    .logo{ 
      display:none; 
    } 
    .heading {
        margin: 0 5rem;
        font-weight: 700;
        color: #5d4267;
      }
     #header-title{
        display: flex; 
        flex-direction: column;
      }
    .subheading {
      margin: 2.5rem 6rem;
      color: #bcb2c0;
    }
      #view { 
      background-color: pink;
      background-image: url(/assets/img/background1.jpeg);
      background-repeat: no-repeat; 
      background-position: top center;
      background-size:60% 60%;
      height: 100vh;
    } 
    .row{ 
      padding: 10px;
      border: 1px solid black;  
      width:auto;
    }
    .col-md-6{
      padding:5px;
      border: 1px solid red; 
    }
      .main-container{ 
     position: relative;
    padding:20px; 
    } //.main-container
      .content{ 
      background:#f8bbd0; 
    }   
    #products{ 
      padding:10px;  
      } 
      .products-row{ 
      display:flex; 
      flex-direction: row;
      align-content: center; 
      justify-content: space-evenly; 
    } 
    .img-container{
      padding:10px;
      position: relative;
      text-align: center; 
      color:black; 
      font-weight: 500;
      font-size:32px;
    } 
    figure img{  
      filter:blur(2px);  
    }
    figure:hover img{ 
      filter:blur(0); 
    }
    .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
    } 
     #about{
    padding-top:15px;
    margin-top:25px;
    background-color:#FF91B4;  
    }  
      .about{ 
      height:100vh; 
      background-color:#FF91B4;
      display: flex; 
      flex-direction: row;
      justify-content: flex-start; 
    }
    mdb-card{ 
      margin:10px; 
    } 
    footer 
    { 
    background: #BED3A2; 
      }  
      .navbar  
      {
     background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
      } 
    .navbar.top-nav-collapse{background-color: blue !important; 
      }
    .navbar:not(.top-nav-collapse) {
        background: pink;
    }
    .navbar .navbar-brand img {
      height: 40px;
      margin: 10px;
    }
    .hm-gradient {
      background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
    }
    
    
    #button-div{ 
      margin-top: 10rem;
      padding:10px;
      border:1px solid black; 
      width:100%; 
    } 
    
    
    
      .btn.btn-margin { 
        padding:20px;
        margin-left: 31.7rem;
        
      } 
    
       .btn.btn-lily {
        background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
      }
      .title {
        margin-top: 6rem;
        margin-bottom: 2rem;
        color: #5d4267;
      }
      .subtitle {
        color: #bcb2c0;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 6rem;
      }
    
      .dropdown-menu {
        left: unset !important;
        right: 0 ;
      }

      
    }
  //tablets, ipads (portrait)// 
    @media (min-width: 768px) and (max-width: 1024px) {
      #header-title{ 
        display: none; 
      }

      .row{ 
        padding: 10px;
        border: 1px solid black;  
        width:auto;
      }
      .col-md-6{
        padding:5px;
        border: 1px solid red; 
      } 


      .logo{ 
        display: none; 
      }
      .main-container{ 
        background-color:#ffffff; 
      }
      .products-row{display:flex; flex-direction: column; justify-content: space-evenly;}
      .heading {
          margin: 0 5rem;
          padding-top:10px;
          font-weight: 300;
          color:blue;
       
        }  
  
        #view { 
          background-color: coral;
          background-image: url(/assets/img/background1.jpeg);
          background-repeat: no-repeat; 
          background-position: top center;
          background-size:95% 50%;
          height: 100vh; 
          padding-top:10px;
        
        } 
      
  
        .nav-item{ 
        margin:10px; 
        }  
  
        .btn.btn-margin{
        font-size:15px;
        width:50%; 
        padding:15px; 
        margin-top:45%; 
        margin-left:27%; 
        }
  
        hr{margin:5px;}
  
        figure img{ filter:blur(2px); }
  
        figure:hover img{filter:blur(0);} 
  section{
    overflow: auto; 
    }     
  }
    //covers mobile/tablet landscape//
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      #header-title{display: none;} 

      .row{ 
        padding: 10px;
        border: 1px solid black;  
        width:auto;
      }
      .col-md-6{
        padding:5px;
        border: 1px solid red; 
      }

      .main-container{background-color:#ffffff;}

  
      .products-row{display:flex; flex-direction: column; justify-content: space-evenly;}
      
  
      .heading {
      
          margin: 0 5rem;
          padding-top:10px;
          font-weight: 300;
          color:blue;
       
        }  
  
        #view { 
          background-color: purple;
          background-image: url(/assets/img/background1.jpeg);
          background-repeat: no-repeat; 
          background-position: top center;
          background-size:57% 57%;
          height: 100vh; 
          padding-top:10px;
        
        } 
      
  
        .nav-item{ 
        margin:10px; 
        }  
  .button-div{ 
    margin-top: 12rem;
    border:1px solid black; 
    width:100%;}
        .btn.btn-margin{
        font-size:15px;
        padding:20px; 
        margin-top:47%; 
        margin-left:27%; 
        }
  
        hr{margin:5px;}
  
        figure img{ filter:blur(2px); }
  
        figure:hover img{filter:blur(0);} 
  
  
  section{overflow: auto;}
          
  } *\

  //for iphone X//
  //when the width is 375 or less// 
  //covers mobile, portrait//
 /* @media only screen and (min-width:320px) and (max-width: 415px){ 
     #header-title{display:none;}

     .row{ 
      padding: 10px;
      border: 1px solid black;  
      width:auto;
    }
    .col-md-6{
      padding:5px;
      border: 1px solid red; 
    }

    .main-container{background-color:#ffffff;}

  
    .products-row{display:flex; flex-direction: column; justify-content: space-evenly;}
    

    .heading {
        margin: 0 5rem;
        padding-top:10px;
        font-weight: 300;
        color:blue;
     
      }  

      #view { 
        background-color: blue;
        background-image: url(/assets/img/background1.jpeg);
        background-repeat: no-repeat; 
        background-position: top center;
        background-size:95% 30%;
        height: 100vh; 
        padding-top:10px;
      
      } 
    
      .nav-item{margin:10px;}  

      .btn.btn-margin{
      margin-left:20%; 
      font-size:15px;
      margin-top:23.5%; 
      width:50%; 
      padding:5%;}

      hr{margin:5px;}

      figure img{ filter:blur(2px); }

      figure:hover img{filter:blur(0);} 


    section{overflow: auto;}

  }  
  
   @media (min-width:416px) and (max-width:812px){
    #view{background-color:lightgreen;}

    .row{ 
      padding: 10px;
      border: 1px solid black;  
      width:auto;
    }
    .col-md-6{
      padding:5px;
      border: 1px solid red; 
    }
  }*/ 
/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
/* Desktops and laptops */
@media only screen  and (min-device-width: 1224px) and (max-device-width:1600px) {
  .heading {
    margin: 0 5rem;
    font-weight: 300;
    color:blue;
  }   
#header-title{
  display:none;
  }
  button{
    font-family: 'Oxygen';
  }
  .logo{
    font-family: 'Oxygen';
   } 
  #top-view { 
  background-color: #FFAABB;
  height:auto;
  padding-top:10px; 
  margin-top:0;
  }  
  .top-view-col{
  border:solid 3px hotpink;
  padding:0;
  justify-content: center;
  margin-left:15rem;
  } 
  .top-view-col article{ 
    border:solid 4px navy;
    padding:10px; 
    margin-right:10%;
    font-size: 20px;
  }
.media img{
  height:auto;
}
.carousel{ 
    height:40vh;
    border:solid 2px purple; 
   }
  .carousel-item {
  height: 600px;
  overflow: hidden;
    }
   #button-row{ 
    border: solid 3px orange;  
    display: flex;   
    justify-content:center;
    } 
    .button-div{ 
      border: solid 2px white;
    } 
    .btn.btn-margin{  
      align-self:center; 
      border: solid 3px orange;
     margin-right:3.0rem;
     margin-left:3.0rem;
     margin-top:0;
     font-size:15px;
     width:100%; 
     padding:7.5%; 
  }
  form{  
    margin-top:0;
    background-color:lightblue;
    display: flex; 
    flex-direction: column; 
    align-content: center;
    } 
  .mb-4{ 
    font-size:20px;
  }  
  #email{ 
    width:auto;
    margin-top:0;   
  } 
  #main-submit{   
    font-size:16px; 
    text-align: center;
    align-self:center;
     width: 50vw; 
    }
  .btn-submit-margin{ 
    font-size:16px;
    align-self:center;
    width:50vw; 
  }
.row{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:auto; 
  border: solid 3px hotpink; 
  margin:10px;
  height:100vh;
} 
 .view{ 
   border:solid 2px black; 
  } 
 mdb-card{ 
   border:solid 3px lime; 
   margin:10px;}
  .about{  
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly; 
    background-color:orange;
     } 
   
  .products-row{  
    display:flex;
    margin:10px;
    flex-direction: column; 
    justify-content: space-evenly;
    }
    .content{ 
      background-color:#FFAABB;
      border:solid 2px black; 
    }
  .email-row{ 
    width:auto; 
    border: solid 3px hotpink; 
    height:100vh;
    }
  #view {  
    background-color: #FFAABB;
    height:auto;
    padding-top:10px;
   } 
   .nav-item{ 
    margin:10px; 
  }  
  .img-container{
    padding:10px;
    position: relative;
    text-align: center; 
    color:black; 
    font-weight: 500;
    font-size:32px;
  } 
  .centered{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);  
 } 
    
  
     hr{margin:5px; 
    } 
  
     figure img{ filter:blur(2px);
    }
  
     figure:hover img{filter:blur(0);
    } 
  section{ 
    overflow: auto;
  } 
 
  footer{background-color:#67C0FC; }
  
  footer .container-fluid{width:100vw;}
  
    }
  

/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }

/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #header-title{
    display:none;
    }
    .logo{
      font-family: 'Oxygen';
     } 
    #top-view {  
      background-color: #FFAABB;
      height:auto;
      padding-top:10px; 
      margin-top:0;
     } 

     .top-view-col{
      border:solid 3px hotpink;
      padding:0;
      justify-content: center;
      margin-left:15rem;
      margin-right:10rem; 
     
     }
     .carousel{ 
      border:solid 2px purple; 
    }
      .carousel-caption{ 
    padding-bottom:15px;
  }

  .carousel-item img {
    width: 200%;
    } 

    .carousel-item {
      height: 300px;
    overflow: hidden;
    width: 50vw;}

    .email-row{ 
      width:auto; 
      border: solid 3px hotpink; 
      height:100vh;
    }

    .row{ 
      padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
     }

     #button-row{ 
      border: solid 3px orange;  
      display: flex;   
      justify-content:center; 
      } 
  .btn.btn-margin{ 
    align-self:center; 
      border: solid 3px orange;
     margin-right:3.0rem;
     margin-left:3.0rem;
     margin-top:0;
     font-size:15px;
     width:100%; 
     padding:7.5%; 
  }
  #view {  
    background-color: #FFAABB;
    height:auto;
    padding-top:10px;
  } 
  .col-md-6{ 
    padding:5px;
    } 
  .nav-item{ 
    margin:10px; 
    } 

          #email{ 
            width:100%; 
            margin-top:0;   
          } 
          form{  
            margin-top:0;
            background-color:#FCE3F1;
            display: flex; 
            flex-direction: column; 
            align-content: center;
            } 
            .mb-4{ 
              font-size:20px;
            }  
            #main-submit{  
              width: 100%;  
            }
            
            input:invalid{
              border:2px dashed red;
            } 
            input:valid{
              border:2px dashed green;
            }
            .products-row{  
              display:flex;
              flex-direction: column; 
              justify-content: space-evenly;
              background-color: #FCE3F1;
              }
              figure img{ 
              filter:blur(2px);
            }
            figure:hover img{filter:blur(0);
            } 
             hr{ 
               margin:5px; 
            } 
              
              section{ 
            overflow: auto;
              }
            .img-container{
              padding:10px;
              position: relative;
              text-align: center; 
              color:black; 
              font-weight: 500;
              font-size:32px;
            } 
            .centered{
              position: absolute;
              top:50%;
              left:50%;
              transform:translate(-50%, -50%);  
            } 
            footer{background-color:#67C0FC; }
            
            footer .container-fluid{width:100vw;}
            
              
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #header-title{
      display:none;
      }
      .logo{
        font-family: 'Oxygen';
       } 
       button{
        font-family: 'Oxygen';
      }
 ul li{ 
  font-family: 'Oxygen';}
      #top-view {  
      background-color: #FFC6D0;
      height:auto;
      padding-top:10px; 
      margin-top:0;
      }  
     .top-view-col{
      margin-right:10rem; 
      padding:0;
     } 
       .carousel-caption{ 
        padding-bottom:15px;
      }
     .carousel-item img {
       width: 100%;
       } 
     .carousel-item {
       height: 300px;
       overflow: hidden;
       width: 100%;
     }
       .email-row{ 
       width:auto; 
       border: solid 3px hotpink; 
       height:100vh;
      }
     .row{ 
       padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
       }
       #button-row{ 
         display: flex;  
       } 
     .button-div { 
      border: solid 2px white; 
     } 
      .btn.btn-margin{   
          margin-right:3.0rem;
          margin-left:3.0rem;
          margin-top:0;
          font-size:15px;
          width:100%;   
          padding:7.5%; 
     }
     #view {  
       background-color: #FFAABB;
       height:auto;
       padding-top:10px;
     }  
     .col-md-6{ 
     padding:5px;
     } 
       .nav-item{ 
     margin:10px; 
       }
     
     #email{ 
         width:100%; 
         margin-top:0;   
     } 
     form{  
       margin-top:0;
       background-color:#FCE3F1;
       display: flex; 
       flex-direction: column; 
       align-content: center;
       } 
       #main-submit{  
       width: 100%;  
       }     
       .products-row{  
         display:flex;
         flex-direction: column; 
         justify-content: space-evenly;
         background-color: #FFD6DA;
     }
         figure img{ 
         filter:blur(2px);
       }
       figure:hover img{filter:blur(0);
       } 
     hr{ 
       margin:5px; 
       } 
     section{ 
       overflow: auto;
         }
       .img-container{
       font-family: 'Noto Serif', serif;
       padding:10px;
       position: relative;
       text-align: center; 
       color:black; 
       font-weight: 500;
       font-size:32px;
     } 
     .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
     } 
     footer{
     background-color:#789CCE; 
     font-family:'Oxygen', sans-serif; 
     }
     footer .container-fluid{width:100vw;}
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    #header-title{
      display:none;
      }
      .logo{
        font-family: 'Oxygen';
       } 
      #top-view {  
      background-color: #FFC6D0;
      height:auto;
      padding-top:10px; 
      margin-top:0;
      }  
     .top-view-col{
      margin-right:10rem; 
      padding:0;
     } 
       .carousel-caption{ 
        padding-bottom:15px;
      }
     .carousel-item img {
       width: 100%;
       } 
     .carousel-item {
       height: 300px;
       overflow: hidden;
       width: 100%;
     }
       .email-row{ 
       width:auto; 
       border: solid 3px hotpink; 
       height:100vh;
      }
     .row{ 
       padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
       }
       #button-row{ 
         display: flex;  
       } 
     .button-div { 
      border: solid 2px white; 
     } 
      .btn.btn-margin{   
          margin-right:3.0rem;
          margin-left:3.0rem;
          margin-top:0;
          font-size:15px;
          width:100%;   
          padding:7.5%; 
     }
     #view {  
       background-color: #FFAABB;
       height:auto;
       padding-top:10px;
     }  
     .col-md-6{ 
     padding:5px;
     } 
       .nav-item{ 
     margin:10px; 
       }
     
     #email{ 
         width:100%; 
         margin-top:0;   
     } 
     form{  
       margin-top:0;
       background-color:#FCE3F1;
       display: flex; 
       flex-direction: column; 
       align-content: center;
       } 
       #main-submit{  
       width: 100%;  
       }     
       .products-row{  
         display:flex;
         flex-direction: column; 
         justify-content: space-evenly;
         background-color: #FFD6DA;
     }
         figure img{ 
         filter:blur(2px);
       }
       figure:hover img{filter:blur(0);
       } 
     hr{ 
       margin:5px; 
       } 
     section{ 
       overflow: auto;
         }
       .img-container{
       font-family: 'Noto Serif', serif;
       padding:10px;
       position: relative;
       text-align: center; 
       color:black; 
       font-weight: 500;
       font-size:32px;
     } 
     .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
     } 
     footer{
     background-color:#789CCE; 
     font-family:'Oxygen', sans-serif; 
     }
     footer .container-fluid{width:100vw;}
  }
/*smartphones (portrait and landscape)*/ 
@media only screen and (min-device-width : 320xpx) and (max-device-width: 480px) { 
#header-title{
      display:none; 
}
.row{ 
      padding: 10px;
      border: 1px solid black;  
      width:auto;
    }
   .col-md-6{
      padding:5px;
      border: 1px solid red; 
    }

}
/*smartphones (landscape) */
@media only screen and (min-width: 321px){ 

} 

/*smartphones (portrait) */ 
@media only screen and (max-width: 320px){ 

} 
/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
/* iPhone 6, 7, 8 (landscape)*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
/* iPhone 6, 7, 8 (portrait)*/
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
/***************************************************************************************************************************************************
****************************************************************************************************************************************************/  
  /* iPhone 6+, 7+, 8+ (landscape)*/
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
    /* iPhone 6+, 7+, 8+ (portrait)*/
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .heading {
      margin: 0 5rem;
      font-weight: 300;
      color:blue;
   }  
    #header-title{
      display:none;
    }
   #top-view {  
    background-color: #FFAABB;
     height:auto;
     padding-top:10px; 
     margin-top:0;
   }  
   .top-view-col{
    margin-right:10rem; 
    padding:0;
   }
    .email-row{ 
      width:auto; 
      border: solid 3px blue; 
      height:100vh;
     } 

     #about{border: solid 3px purple;}
    .row{ 
     padding: 15px;   
     width:auto; 
     border: solid 3px hotpink; 
     margin:10px;
     height:100vh;
   }
   #button-row{ 
    display: flex;  
  } 
  .button-div{ 
    border: solid 2px white; 
  } 
  .btn.btn-margin{ 
   margin-right:3.0rem;
   margin-left:3.0rem;
   margin-top:0;
   font-size:15px;
   width:100%; 
   padding:7.5%; 
  }
  #view {  
    background-color: #FFAABB;
    /*background-image: url(/assets/img/background1.jpeg);*/
     height:auto;
    padding-top:10px;
   } 
  .col-md-6{ 
    padding:5px;
    border: 3px solid limegreen; 
  } 
  .products-row{  
  border: solid 3px hotpink;
  display:flex;
  margin:10px;
  flex-direction: column; 
  justify-content: space-evenly;
  }
  .nav-item{ 
    margin:10px; 
  }  
   #email{ 
      width:100%; 
      margin-top:0;   
    } 
    form{  
      margin-top:0;
      background-color:lightblue;
      display: flex; 
      flex-direction: column; 
       align-content: center;
      } 
     #main-submit{  
     width: 100%;
      
    }
  
     hr{margin:5px; 
    } 
  
     figure img{ filter:blur(2px);
    }
  
     figure:hover img{filter:blur(0);
    } 
    
  
  section{ 
    overflow: auto;
  }
  
  footer{background-color:#67C0FC; }
  }
/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
/*iphone X*/ 
/*landscape*/ 
/*NEED TO COME BACK AND FINISH LANDSCAPE*/
@media only screen and (min-device-width: 375px) and (max-device-height:812px ) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){ 
  .heading {
    margin: 0 5rem;
    font-weight: 300;
    color:blue;
 }  
  #header-title{
    display:none;
  }
 #top-view {  
  background-color: #FFAABB;
  /*background-image: url(/assets/img/background1.jpeg);*/
   height:auto;
  padding-top:10px; 
  margin-top:0;
 }   
 #carousel{  
   border:solid 1px black;
   margin-left:10rem;
 } 
 .carousel-caption{
   color:black;
   border:solid 2px pink; 
   margin-right:7.5rem; 
   padding-right:10px;
 }
 .picsum-img-wrapper{ 
   margin-right:5rem;
   border: solid 2px blue;
   width:auto; 
  } 
.picsum-img-wrapper img{ 
  width:90%; 
}
  .email-row{ 
    width:auto; 
    border: solid 1px black; 
    height:100vh;
   }
  
 #button-row{ 
   display: flex;  
   margin-left:8.5rem;
} 
.btn.btn-margin{ 
 margin-left:3.5rem;
 margin-right:3.5rem;
 margin-top:0;
 padding:3.5%;
 font-size:15px;
 width:50vw;
}
#view {  
  background-color: #FFAABB;
  /*background-image: url(/assets/img/background1.jpeg);*/
   height:auto;
  padding-top:10px;
 }  

 .view{ 
   
 overflow: auto;
}

 .top-view-col { 
  margin-left:10.5rem; 
  margin-right:0;
  width:100vw;
}  
.products-row{ 
display:flex;
margin:10px;
flex-direction: column; 
justify-content: space-evenly;
}
.content{ 
  border:solid 2px black;}
#about{

  background-color:yellow;  
  }  
  .about{  
    background-color:orange;
  } 

  footer{display: flex;
   border:solid 3px hotpink;
   width:100vw; }
 
.nav-item{ 
  margin:10px; 
}  
 #email{ 
    width:100%; 
    margin-top:0;   
  } 
  form{  
    margin-top:0;
    background-color:lightblue;
    display: flex; 
    flex-direction: column; 
     align-content: center;
    } 
   #main-submit{  
   width: 100%;
    
  }
   hr{margin:5px; 
  } 
  .img-container{
    padding:10px;
    position: relative;
    text-align: center; 
    color:black; 
    font-weight: 500;
    font-size:32px;
  } 
   figure img{ filter:blur(2px);
  }
   figure:hover img{filter:blur(0);
  } 
  .centered{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
 } 

} 
  /*portrait*/
 @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) {
  .logo{
  font-family: 'Oxygen';
    } 
  #top-view {  
  background-color: #FFC6D0;
  height:auto;
  padding-top:10px; 
  margin-top:0;
  }  
  .top-view-col{
  text-align: center;
  margin-right:10rem; 
  padding:0;
  } 
.carousel-caption{ 
  padding-bottom:15px;
}
.carousel-item img {
  width: 100%;
  } 
.carousel-item {
  height: 300px;
  overflow: hidden;
  width: 100%;
}
  .email-row{ 
  width:auto; 
  border: solid 3px hotpink; 
  height:100vh;
 }
.row{ 
  padding: 15px;   
  width:auto; 
  border: solid 3px hotpink; 
  margin:10px;
  }
  #button-row{ 
    display: flex;  
  } 
 .btn.btn-margin{   
     margin-right:3.0rem;
     margin-left:3.0rem;
     margin-top:0;
     font-size:15px;
     width:100%;   
     padding:7.5%; 
}
#view {  
  background-color: #FFAABB;
  height:auto;
  padding-top:10px;
}  
.col-md-6{ 
padding:5px;
} 
  .nav-item{ 
margin:10px; 
  }

#email{ 
    width:100%; 
    margin-top:0;   
} 
form{  
  margin-top:0;
  background-color:#FCE3F1;
  display: flex; 
  flex-direction: column; 
  align-content: center;
  } 
  #main-submit{  
  width: 100%;  
  }     
  .products-row{  
    display:flex;
    flex-direction: column; 
    justify-content: space-evenly;
    background-color: #FFD6DA;
}
    figure img{ 
    filter:blur(2px);
  }
  figure:hover img{filter:blur(0);
  } 
hr{ 
  margin:5px; 
  } 
section{ 
  overflow: auto;
    }
  .img-container{
  font-family: 'Noto Serif', serif;
  padding:10px;
  position: relative;
  text-align: center; 
  color:black; 
  font-weight: 500;
  font-size:32px;
} 
.centered{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);  
} 
footer{
height:100vh;
background-color:#789CCE; 
font-family:'Oxygen', sans-serif; 
font-size:18px;
}
footer .container-fluid{width:100vw;}

  }

/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
/* iPhone XS Max, XR*/
 @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
}
 
 @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  
    .logo, button{
      font-family: 'Oxygen';
     } 
    #top-view {  
    background-color: #FFC6D0;
    height:auto;
    padding-top:10px; 
    margin-top:0;
    }  
   .top-view-col{
    margin-right:10rem; 
    padding:0;
   } 
     .carousel-caption{ 
      padding-bottom:15px;
    }
   .carousel-item img {
     width: 100%;
     } 
   .carousel-item {
     height: 300px;
     overflow: hidden;
     width: 100%;
   }
     .email-row{ 
     width:auto; 
     border: solid 3px hotpink; 
     height:100vh;
    }
   .row{ 
     padding: 15px;   
     width:auto; 
     border: solid 3px hotpink; 
     margin:10px;
     height:100vh;
     }
     #button-row{ 
       display: flex;  
     } 
   .button-div { 
    border: solid 2px white; 
   } 
    .btn.btn-margin{   
        margin-right:3.0rem;
        margin-left:3.0rem;
        margin-top:0;
        font-size:15px;
        width:100%;   
        padding:7.5%; 
   }
   #view {  
     background-color: #FFAABB;
     height:auto;
     padding-top:10px;
   }  
   .col-md-6{ 
   padding:5px;
   } 
     .nav-item{ 
   margin:10px; 
     }
   
   #email{ 
       width:100%; 
       margin-top:0;   
   } 
   form{  
     margin-top:0;
     background-color:#FCE3F1;
     display: flex; 
     flex-direction: column; 
     align-content: center;
     } 
     #main-submit{  
     width: 100%;  
     }     
     .products-row{  
       display:flex;
       flex-direction: column; 
       justify-content: space-evenly;
       background-color: #FFD6DA;
   }
       figure img{ 
       filter:blur(2px);
     }
     figure:hover img{filter:blur(0);
     } 
   hr{ 
     margin:5px; 
     } 
   section{ 
     overflow: auto;
       }
     .img-container{
     font-family: 'Noto Serif', serif;
     padding:10px;
     position: relative;
     text-align: center; 
     color:black; 
     font-weight: 500;
     font-size:32px;
   } 
   .centered{
     position: absolute;
     top:50%;
     left:50%;
     transform:translate(-50%, -50%);  
   } 
   footer{
   background-color:#789CCE; 
   font-family:'Oxygen', sans-serif; 
   }
   footer .container-fluid{width:100vw;}
  } 

/***************************************************************************************************************************************************
****************************************************************************************************************************************************/
  /* Samsung Galaxy S3*/
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #header-title{
      display:none;
      }
      .logo{
        font-family: 'Oxygen';
       } 
      #top-view {  
      background-color: #FFC6D0;
      height:auto;
      padding-top:10px; 
      margin-top:0;
      }  
     .top-view-col{
      margin-right:10rem; 
      padding:0;
     } 
       .carousel-caption{ 
        padding-bottom:15px;
      }
     .carousel-item img {
       width: 100%;
       } 
     .carousel-item {
       height: 300px;
       overflow: hidden;
       width: 100%;
     }
       .email-row{ 
       width:auto; 
       border: solid 3px hotpink; 
       height:100vh;
      }
     .row{ 
       padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
       }
       #button-row{ 
         display: flex;  
       } 
     .button-div { 
      border: solid 2px white; 
     } 
      .btn.btn-margin{   
          margin-right:3.0rem;
          margin-left:3.0rem;
          margin-top:0;
          font-size:15px;
          width:100%;   
          padding:7.5%; 
     }
     #view {  
       background-color: #FFAABB;
       height:auto;
       padding-top:10px;
     }  
     .col-md-6{ 
     padding:5px;
     } 
       .nav-item{ 
     margin:10px; 
       }
     
     #email{ 
         width:100%; 
         margin-top:0;   
     } 
     form{  
       margin-top:0;
       background-color:#FCE3F1;
       display: flex; 
       flex-direction: column; 
       align-content: center;
       } 
       #main-submit{  
       width: 100%;  
       }     
       .products-row{  
         display:flex;
         flex-direction: column; 
         justify-content: space-evenly;
         background-color: #FFD6DA;
     }
         figure img{ 
         filter:blur(2px);
       }
       figure:hover img{filter:blur(0);
       } 
     hr{ 
       margin:5px; 
       } 
     section{ 
       overflow: auto;
         }
       .img-container{
       font-family: 'Noto Serif', serif;
       padding:10px;
       position: relative;
       text-align: center; 
       color:black; 
       font-weight: 500;
       font-size:32px;
     } 
     .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
     } 
     footer{
     background-color:#789CCE; 
     font-family:'Oxygen', sans-serif; 
     }
     footer .container-fluid{width:100vw;}
  }
  
  /* Samsung Galaxy S4*/
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    #header-title{
      display:none;
      }
      .logo{
        font-family: 'Oxygen';
       } 
      #top-view {  
      background-color: #FFC6D0;
      height:auto;
      padding-top:10px; 
      margin-top:0;
      }  
     .top-view-col{
      margin-right:10rem; 
      padding:0;
     } 
       .carousel-caption{ 
        padding-bottom:15px;
      }
     .carousel-item img {
       width: 100%;
       } 
     .carousel-item {
       height: 300px;
       overflow: hidden;
       width: 100%;
     }
       .email-row{ 
       width:auto; 
       border: solid 3px hotpink; 
       height:100vh;
      }
     .row{ 
       padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
       }
       #button-row{ 
         display: flex;  
       } 
     .button-div { 
      border: solid 2px white; 
     } 
      .btn.btn-margin{   
          margin-right:3.0rem;
          margin-left:3.0rem;
          margin-top:0;
          font-size:15px;
          width:100%;   
          padding:7.5%; 
     }
     #view {  
       background-color: #FFAABB;
       height:auto;
       padding-top:10px;
     }  
     .col-md-6{ 
     padding:5px;
     } 
       .nav-item{ 
     margin:10px; 
       }
     
     #email{ 
         width:100%; 
         margin-top:0;   
     } 
     form{  
       margin-top:0;
       background-color:#FCE3F1;
       display: flex; 
       flex-direction: column; 
       align-content: center;
       } 
       #main-submit{  
       width: 100%;  
       }     
       .products-row{  
         display:flex;
         flex-direction: column; 
         justify-content: space-evenly;
         background-color: #FFD6DA;
     }
         figure img{ 
         filter:blur(2px);
       }
       figure:hover img{filter:blur(0);
       } 
     hr{ 
       margin:5px; 
       } 
     section{ 
       overflow: auto;
         }
       .img-container{
       font-family: 'Noto Serif', serif;
       padding:10px;
       position: relative;
       text-align: center; 
       color:black; 
       font-weight: 500;
       font-size:32px;
     } 
     .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
     } 
     footer{
     background-color:#789CCE; 
     font-family:'Oxygen', sans-serif; 
     }
     footer .container-fluid{width:100vw;}
  }
  
  /* Samsung Galaxy S5 */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    #header-title{
      display:none;
      }
      .logo{
        font-family: 'Oxygen';
       } 
      #top-view {  
      background-color: #FFC6D0;
      height:auto;
      padding-top:10px; 
      margin-top:0;
      }  
     .top-view-col{
      margin-right:10rem; 
      padding:0;
     } 
       .carousel-caption{ 
        padding-bottom:15px;
      }
     .carousel-item img {
       width: 100%;
       } 
     .carousel-item {
       height: 300px;
       overflow: hidden;
       width: 100%;
     }
       .email-row{ 
       width:auto; 
       border: solid 3px hotpink; 
       height:100vh;
      }
     .row{ 
       padding: 15px;   
       width:auto; 
       border: solid 3px hotpink; 
       margin:10px;
       height:100vh;
       }
       #button-row{ 
         display: flex;  
       } 
     .button-div { 
      border: solid 2px white; 
     } 
      .btn.btn-margin{   
          margin-right:3.0rem;
          margin-left:3.0rem;
          margin-top:0;
          font-size:15px;
          width:100%;   
          padding:7.5%; 
     }
     #view {  
       background-color: #FFAABB;
       height:auto;
       padding-top:10px;
     }  
     .col-md-6{ 
     padding:5px;
     } 
       .nav-item{ 
     margin:10px; 
       }
     
     #email{ 
         width:100%; 
         margin-top:0;   
     } 
     form{  
       margin-top:0;
       background-color:#FCE3F1;
       display: flex; 
       flex-direction: column; 
       align-content: center;
       } 
       #main-submit{  
       width: 100%;  
       }     
       .products-row{  
         display:flex;
         flex-direction: column; 
         justify-content: space-evenly;
         background-color: #FFD6DA;
     }
         figure img{ 
         filter:blur(2px);
       }
       figure:hover img{filter:blur(0);
       } 
     hr{ 
       margin:5px; 
       } 
     section{ 
       overflow: auto;
         }
       .img-container{
       font-family: 'Noto Serif', serif;
       padding:10px;
       position: relative;
       text-align: center; 
       color:black; 
       font-weight: 500;
       font-size:32px;
     } 
     .centered{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);  
     } 
     footer{
     background-color:#789CCE; 
     font-family:'Oxygen', sans-serif; 
     }
     footer .container-fluid{width:100vw;}
  } 

  footer .container-fluid{width:100vw;} 
