
<!-- Main navigation -->
<header>      
    <div> 
      <div id="header-title">
        <h2 class="text-uppercase">Sweeter things N Life</h2>
      </div>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pink ie-nav"  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand font-weight-bold" href="main-page"> Sweeter Things N' life
    </a> 
  </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active" >
            <a class="nav-link" href="#">Home 
              <span class="sr-only">(current)</span> 
            </a>
          </li>
          <hr class="w-100 clearfix d-md-none">
            <!-- Dropdown -->
           <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              In Store Hours 
              <span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-default" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Monday - Thursday: 9:00AM - 9:30PM</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Friday - Saturday: 8:30AM - 10:30PM</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sunday: 8:30AM - 7:00PM</a> 
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Delivery Times</a> 
             </div>
           </li>
          <hr class="w-100 clearfix d-md-none"> 
          <li class="nav-item waves-light" mdbWavesEffect> 
            <a class="nav-link" mdbPageScroll href="#about"> About </a>
          </li>
            <hr class="w-100 clearfix d-md-none">    
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/order">Order</a>
          </li>
            <hr class="w-100 clearfix d-md-none"> 
           <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Custom Design</a>
            </li> 
            <hr class="w-100 clearfix d-md-none"> 
          <li class="nav-item waves-light" mdbWavesEffect> 
            <a class="nav-link" routerLink="/blog">Blog</a>  
          </li> 
      </ul>
      <button type="button" mdbBtn class="relative waves-light" (click)="basicModal.show()">Cart</button> 
      <div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-side modal-top-right" role="document"> 
          <div class="modal-content"> 
            <div class="modal-healder">  
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()"> 
                  <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title"> Your Cart</h4>
              </div>
                  <!--./modal-header-->
                  <div class="modal-body"> 
                     ...
                  </div> 
                  <!--./modal-body--> 
                  <div class="modal-footer"> 
                         <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Not Ready Yet</button>
                         <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Check Out</button>
                  </div> 
                  <!--./modal-footer-->
 
             </div>
             <!--./modal-content-->
         </div>
        </div>
    </links>
</mdb-navbar> 

<!--Navbar-->  
    </div> 
    <section id="top-view">  
      <div id="carousel">
        <ngb-carousel>
             <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                      <img class="img-fluid rounded mx-auto d-block" src="./assets/img/pastry1.jpeg" alt="Random first slide">
                  </div>
                  <div class="carousel-caption">
                      <h3 style="color: black">Welcome</h3>
                      <p style="color: black;">Visit one of our locations</p> 
                      <mdb-icon fas icon="map-marker-alt" size="2x" class="black-text"></mdb-icon>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <div class="picsum-img-wrapper"> 

                    <img class="img-fluid rounded mx-auto d-block"  src="./assets/img/backsplashpage1.jpeg">
                  </div> 
                  <div class="carousel-caption"> 
                    <h3 style="color: black">Get Connected</h3>
                    <p style="color: black;">Download our app! </p> 
                    <button mdbBtn color="primary">app store <mdb-icon fab icon="app-store-ios"></mdb-icon></button>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <div class="carousel-caption"> 
                      <h3 style="color:black;" >Products</h3> 
                      <p style="color: black;">Macaroons, Cupcakes, Donuts Oh my!</p>
                    </div>
                  <div class="picsum-img-wrapper"> 
                    <img class="img-fluid rounded mx-auto d-block"  src="./assets/img/products.jpg">
                  </div> 
                   
              </ng-template>
          </ngb-carousel>
        </div>
          <div id="button-row" class="button-row">   
              <div id="button-div" class="mr-auto">
                  <button type="button" id="button" mdbBtn color="pink" class="btn-margin text-uppercase" >Order Online
                    <mdb-icon fas icon="angle-right"></mdb-icon></button> 
                   
                    </div>  
              </div> 
              <h2 class="font-weight-bold text-center"> Let's bake the world a better place</h2> 
              <div class="top-view-col col-md-6 d-flex flex-col"> 
             
                  <article class="text-center"> We offer various kinds of pastrys, 
                      we also offer gluten free, vegan and vegetarian friendly pastries 
                     </article>
              </div>   
              <section id="email"> 
                  <div><mdb-icon fas icon="circle" size="2x" class="cyan-text " ></mdb-icon><mdb-icon fas icon="circle" class="cyan-text"></mdb-icon><mdb-icon fas icon="circle" size="2x" class="cyan-text "></mdb-icon><mdb-icon fas icon="circle" class="cyan-text"></mdb-icon><mdb-icon fas icon="circle" size="2x" class="cyan-text"></mdb-icon></div>
                    <form class="border border-light p-5">  
                
                        <h4 class="text-uppercase text-center font-weight-bold"> Join our mailing list</h4 > 
                        <p class="mb-4 text-center"> Enter your email for newsletters and coupons</p>
                      
                       <input mdbInput type="email" placeholder="Enter Email" id="main-submit" class="form-control"> 
                       <button type="button" id="button" mdbBtn color="pink" class="btn-submit-margin text-uppercase" disabled>submit</button>
                 
                   </form>
              </section>
         
    </section> 
      </header> 
      <!-- Main navigation --> 
      <!--Main container-->
      <div class="main-container" style="height: 250vh"> 
      <!--Content-->
      <div class="content" >  
        <h4 class="text-uppercase font-weight-bold text-center"></h4>
   
<div id="products container-fluid">
    <div class="products-row container-fluid">
 <div class="img-container"> 
   <figure>
            <img class="img-fluid rounded" src="./assets/img/blogimg3.jpeg" class="img-fluid" alt="placeholder">
          </figure>
          <div class="centered"> 
            <p>The Shop</p> 
          </div>
          </div>
          <div class="img-container"> 
            <figure>
                     <img class="img-fluid rounded" src="./assets/img/blogimg3.jpeg" class="img-fluid" alt="placeholder">
                   </figure>
                   <div class="centered"> 
                     <p>Catoring & Events</p> 
                   </div>
                   </div>

                   <div class="img-container"> 
                    <figure>
                             <img class="img-fluid rounded" src="./assets/img/backsplashpage1.jpeg" class="img-fluid" alt="placeholder">
                           </figure>
                           <div class="centered"> 
                             <p>Get Connected</p> 
                             <p>hashtag us as @</p>
                           </div>
                           </div>
         

    </div>
    <!--/.products-row-->  

    
    </div> 
    <!--/.products--> 

  </div> 
  <!--/.content-->
<div class="content">


   
 
  </div>
  <!--End of container-->

   <!--Footer-->
   <footer class="page-footer font-small pt-4" style="font-family:'Source Sans Pro', serif;">
              <!--Footer Links (1)--> 
              <div class="container-fluid text-center text-md-left">   
                  <h6 class="text-uppercase mb-4 font-weight-bold">footer links</h6>
      
                  <!--Footer Links (2)--> 
                  <div class="footer-row text-center text-md-left "> 
      
                      <!--Grid column (0)--> 
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">  
                        <h6 class="text-uppercase mb-4 font-weight-bold">sweeter thing n life</h6>
                      </div>
                      <!--Grid column (1)-->
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">  
                       
                      
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p>
                          <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                        <p>
                          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p>
                          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
             
                      </div>
                      <!--Closing tag for grid column (1)--> 
      
                      <hr class="w-100 clearfix d-md-none"> 
      
                      <!--Grid column (2)--> 
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                          <h6 class="text-uppercase mb-4 font-weight-bold">Title</h6>
                      <p>Lorem ipsum dolor sit amet,
                          consectetur
                          adipisicing elit.</p>
                        </div>
                      <!--Closing tag for grid column (2)--> 
                     
      
                  </div> 
                  <!--Closing tag for footer links 2--> 
      
                  <!--Grid row (1)--> 
                  <div class="footer-row d-flex align-items-center"> 
                  
                      <!--Grid column (5)--> 
                      <div col-md-7 col-lg-8> 
                          <p class="text-center text-md-left"> Copyright</p> 
      
                      </div> 
                      <!--Closing tag of grid column (5)--> 
      
                      <!--Grid column (6)-->
                      <div>  
      
                          <!--Social Buttons--> 
                          <div> 
      
                          </div>
      
                      </div> 
                      <!--Closing tag for grid column (6)-->
                       
      
                  </div> 
                  <!--Closing tag for grid row (1)-->
      
      
              </div>
              <!--Closing tag for footer links 1--> 
      
      
          </footer>
