*{padding:0px;
  margin:0px; 
  box-sizing: border-box; 
  } 
/*
.blog-content{background:#f8bbd0;} 

.page-view{background-color:#f8bbd0; 
    padding-top:10px; 
    padding-right:10px;} 

    .section-heading{height:50vh; 
    background-color: #BED3A2; 
    padding:10px;
    margin:10px;} 

    .contribute-btn{display: flex;
    justify-content: center;}

    .view{background:#E5E2DA;}

  .dropdown-menu {
    left: unset !important;
    right: 0 ;
  }

  footer{ 
    background: #BED3A2; 
  }  */ 

  /**iphone X*/ 
  /*landscape*/ 
  /*NEED TO COME BACK AND FINISH LANDSCAPE*/
  @media only screen and (min-device-width: 375px) and (max-device-height:812px ) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

  } 

  /*portrait*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) {
  hr{ 
    margin:5px; 
 }  
 .nav-item{ 
  margin:10px; 
}   
.contribute-btn{
  border:solid 3px black;
  display: flex;
 }
  .contribute-btn button{ 
  align-self: center; 
} 


.blog-content{ 
  border:solid 2px lime; 
  background-color: paleturquoise;
} 

.row{border:solid 4px blue;}
} 
