<header> 
  <div>
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-2 ie-nav"  [containerInside]="false">
          <mdb-navbar-brand>
            <a class="logo navbar-brand font-weight-bold" href="main-page"> Sweeter Things N' life
            </a> 
          </mdb-navbar-brand>
            <links>
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active" >
                    <a class="nav-link" href="#">Home 
                      <span class="sr-only">(current)</span> 
                    </a>
                  </li>
                  <hr class="w-100 clearfix d-md-none">
                    <!-- Dropdown -->
                   <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                      In Store Hours 
                      <span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-default" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Monday - Thursday: 9:00AM - 9:30PM</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Friday - Saturday: 8:30AM - 10:30PM</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sunday: 8:30AM - 7:00PM</a> 
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Delivery Times</a> 
                     </div>
                   </li>
                  <hr class="w-100 clearfix d-md-none"> 
                  <li class="nav-item waves-light" mdbWavesEffect> 
                    <a class="nav-link" mdbPageScroll href="#about"> About </a>
                  </li>
                    <hr class="w-100 clearfix d-md-none">    
                  <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="/order">Order</a>
                  </li>
                    <hr class="w-100 clearfix d-md-none"> 
                   <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link">Custom Design</a>
                    </li> 
                    <hr class="w-100 clearfix d-md-none"> 
                  <li class="nav-item waves-light" mdbWavesEffect> 
                    <a class="nav-link" routerLink="/blog">Blog</a>  
                  </li> 
              </ul>
              <button type="button" mdbBtn class="relative waves-light" (click)="basicModal.show()">Cart</button> 
              <div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"> 
                <div class="modal-dialog modal-side modal-top-right" role="document"> 
                  <div class="modal-content"> 
                    <div class="modal-healder">  
                        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()"> 
                          <span aria-hidden="true">×</span>
                        </button> 
                        <h4 class="modal-title"> Your Cart</h4>
                      </div>
                          <!--./modal-header-->
                          <div class="modal-body"> 
                             ...
                          </div> 
                          <!--./modal-body--> 
                          <div class="modal-footer"> 
                                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Not Ready Yet</button>
                                 <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Check Out</button>
                          </div> 
                          <!--./modal-footer-->
         
                     </div>
                     <!--./modal-content-->
                 </div>
                </div>
            </links>
        </mdb-navbar> 
        
        <!--Navbar-->  
  </div> 
  </header>
  <div class="blog-content">  
    <h2 class="h1-responsive font-weight-bold text-center">Hello Friends!</h2>
    <h3 class="text-center w-responsive mx-auto font-weight-bold">Thanks for stopping by...</h3> 
  <p class="text-center w-responsive mx-auto" style="font-family: Catamaran"> Have a suggestion? Want to Contribute?</p> 
    <!--contact modal-->
  <div class="contribute-btn">
       <button type="button" style="background-color:#789CCE; font-family: Catamaran; font-weight: bold; color:white;"class="text-center" (click)="thisModal.show()" mdbBtn> I have a post</button> 
      </div>
      <!--./contribute-btn-->
      <div mdbModal #thisModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ThisModalLabel" aria-hidden="true"> 
       <div class="modal-dialog modal-dialog-centered" role="document"> 
            <div class="modal-content"> 
            <div class="modal-header">  
                <h5 class="modal-title w-100 font-weight-bold">New message to @sweeterthings</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="thisModal.hide()"> 
                        <span aria-hidden="true">&times;</span>
                 </button> 
                  </div>
                  <!--./modal-header-->
                  <div class="modal-body"> 
                    <form> 
                      <div class="form-group"> 
                        <label for="recepient-name" class="col-form-label">Recipient:</label> 
                        <input type="text" class= "form-control" id="recipient-name">
                      </div> 
                      <div class="form-group"> 
                        <label for="client-email" class="col-form-label">Your Email:</label>
                        <input type="text" placeholder="Enter Email" class="form-control" id="client-email">
                      </div>
                      <div class="form-group"> 
                        <label for="message-content" class="col-form-label">Message:</label> 
                        <input type="text" class="form-control" id="message-content">
                      </div> 
                      <div class="form-group"> 
                        <label for="upload" class="col-form-label">Choose File:</label> 
                        <input type="file" class="form-control" id="upload">
                      </div>
                    </form>
                     </div> 
                     <!--./modal-body--> 
                     <div class="modal-footer"> 
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="thisModal.hide()" mdbWavesEffect>Cancel</button>
                            <button type="button" mdbBtn color="primary" class="relative waves-light" disabled>Submit</button>
      
                     </div> 
                     <!--./modal-footer-->
                     
                </div>
                <!--./modal-content-->
            </div>
      
           </div> 
      
        
    <p class="text-center w-responsive mx-auto mb-5 " style="font-family: Catamaran;">Simply message us with the content & once reviewed your post will be published!</p> 
  <div> 
  <!-- Section: Blog v.1 -->
  <section class="">
   <!-- Section heading --> 
  <div class="section-heading">
  <!-- Section description --> 
  
  </div>  
  <!-- end of section heading-->

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid rounded" src="./assets/img/blogimg1.jpeg" alt="Cupcake Spread">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       <!--  <a href="#!" class="green-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food</h6>
        </a>-->
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3" style="color:#D1EAF5;"><strong>Healthy Cupcakes!?</strong></h3>
        <!-- Excerpt -->
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
          placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
        <!-- Read more button --> 
      <button type="button" mdbBtn color="indigo" onclick="alert()"> Read More
      </button>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
 
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Pay Made Easy</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" onclick="alert()" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid rounded" src="./assets/img/blogimg9.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid rounded" src="./assets/img/blogimg10.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
      
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Someone Say Macaroons?</strong></h3>
        <!-- Excerpt -->
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" onclick="alert()" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->


    
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Importance Of Appreciation</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="./assets/img/blogimg2.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row --> 


    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="./assets/img/doughnutblog1.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
        <!-- Excerpt -->
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" onclick="alert()" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row --> 


    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
      
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Pay Made Easy</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" onclick="alert()" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="./assets/img/cupcakeblog1.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->  


    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="./assets/img/doughnutblog1.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>The 50 best Cupcake Recipes</strong></h3>
        <!-- Excerpt -->
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 11/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="indigo" mdbWavesEffect>Read more</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->  


    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
       
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Always Shine in the Morning</strong></h3>
        <!-- Excerpt -->
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
          provident.</p>
        <!-- Post data -->
        <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
        <!-- Read more button -->
        <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4">Read more</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="./assets/img/dougnutblog3.jpeg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->  

  
  
  </section>
  <!-- Section: Blog v.1 --> 

</div> 
<!--./blog-content--> 


    <!--Footer-->
    <footer class="page-footer font-small pt-4" style="font-family:'Source Sans Pro', serif;">
        <h6 class="text-uppercase font-weight-bold mb-4">#SweeterthingsnLife</h6>
                <!--Footer Links (1)--> 
                <div class="container text-center text-md-left">   
                    <h6 class="text-uppercase mb-4 font-weight-bold">footer links</h6>
        
                    <!--Footer Links (2)--> 
                    <div class="row text-center text-md-left mt-3 pb-3"> 
                        <h6 class="text-uppercase mb-4 font-weight-bold">footer links</h6> 
        
                        <!--Grid column (1)-->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">  
                            <h6 class="text-uppercase mb-4 font-weight-bold">Title</h6>
        
                        </div>
                        <!--Closing tag for grid column (1)--> 
        
                        <hr class="w-100 clearfix d-md-none"> 
        
                        <!--Grid column (2)--> 
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">   
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        
                        </div> 
                        <!--Closing tag for grid column (2)--> 
                    
        
                    </div> 
                    <!--Closing tag for footer links 2--> 
        
                    <!--Grid row (1)--> 
                    <div class="row d-flex align-items-center"> 
                    
                        <!--Grid column (5)--> 
                        <div col-md-7 col-lg-8> 
                            <p class="text-center text-md-left"> Copyright</p> 
        
                        </div> 
                        <!--Closing tag of grid column (5)--> 
        
                        <!--Grid column (6)-->
                        <div>  
        
                            <!--Social Buttons--> 
                            <div> 
        
                            </div>
        
                        </div> 
                        <!--Closing tag for grid column (6)-->
                         
        
                    </div> 
                    <!--Closing tag for grid row (1)-->
        
        
                </div>
                <!--Closing tag for footer links 1--> 
        
        
            </footer>
         
          </div>
          <!--End of container-->
        
  